/* Stylesheet */

@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Rowdies:wght@300&family=Supermercado+One&display=swap');

/* GENERAL */

body {
    background-color: black;
}


/* Uso una fuente Supermercado One de Google Fonts para los titulos */

h1,
nav,
footer {
    font-family: 'Supermercado One', cursive;
}

section {
    font-family: 'Rowdies', cursive;
}


/* Con esto hago que al tener el cursor sobre una imagen cambie el icono a una manita */

img {
    cursor: pointer;
}

header,
nav,
section,
footer {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* El header, nav y footer tienen un fondo azul mientras que la sección principal tiene un gris claro */

header,
nav,
footer {
    background-color: rgba(47, 118, 186);
}


/* HEADER */


/* Hago el header fijo para poder acceder al buscador y demás iconos importantes en cualquier momento sin necesidad de subir al inicio */

header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 93.2%;
    padding-left: 3%;
    padding-right: 3%;
}

#fondologo {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 60px;
    width: 90px;
}

#main {
    margin-top: 105px;
}

#signin,
#location {
    margin-right: 4%;
}

#browser {
    margin-left: 15%;
    margin-right: 9%;
    text-align: center;
    border-radius: 10px;
    width: 65%;
    height: 15px;
    align-self: center;
}


/* Este segundo buscador con forma de lupa solo se mostrará cuando la pantalla es pequeña, por lo que de normal no se ve en pantalla */

#browser2 {
    display: none;
}


/* NAV */

nav {
    color: white;
}

.opc {
    display: inline-block;
    border: 4px black solid;
    background-color: rgb(140, 139, 139);
    cursor: pointer;
    padding: 5px 5%;
    margin-bottom: 10px;
    text-align: center;
}

nav img {
    margin-left: 4%;
    margin-right: 1%;
    align-self: center;
}

#parr1 {
    align-self: center;
}

#menu {
    margin-left: 15%;
    width: 100%;
}


/* SECTION */

section {
    flex-direction: column;
    background-color: rgb(230, 229, 229);
}

#sales {
    align-self: center;
}

#productsmain {
    margin-top: 2%;
    padding-left: 5%;
    border: 5px black dotted;
}

#productsmain h1 {
    text-align: center;
    font-size: 2.8em;
}


/* Los productos se muestran con un display: inline-block para dar la forma de cuadrícula */

.products {
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    padding-right: 4%;
    margin-bottom: 20px;
    width: 370px;
    vertical-align: top;
}

.contimg {
    overflow: hidden;
    height: 300px;
    width: 100%;
}

.conttype1 {
    height: 410px;
}

.conttype2 {
    height: 420px;
}

.conttype3 {
    height: 410px;
}


/* Quito el subrayado de los enlaces para mayor facilidad de lectura y homogeneidad */

a {
    text-decoration: none;
}


/* Con el pseudoelemento after hago que aparezca una estrella y un euro, respectivamente, tras cada puntuación y precio, ya que como se repite, no es necesario escribirlo en cada uno individualmente */

.stars::after {
    content: " ✪";
}

.price::after {
    content: " €";
}

#sequia {
    margin: 20px;
}

#sequia h2 {
    text-align: center;
}

video {
    display: block;
    margin: auto;
}


/* FOOTER */

footer {
    flex-wrap: wrap;
}

footer div,
audio {
    margin-top: 15px;
}


/* Coloco los enlaces del footer en forma de columna */

.links {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    font-size: 1.1em;
}

.links a {
    padding-bottom: 15px;
    color: white;
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12%;
}

#social img {
    padding-left: 8%;
}


/* Le quito al botón el borde y pongo su fondo transparente para mas cohesión con el resto de la página */

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 12%;
}

audio {
    align-self: center;
    margin-left: 12%;
}


/* RESPONSIVE WEB DESIGN */

@media (max-width: 1400px) {
    #sequia {
        display: flex;
        flex-direction: column;
    }
    #sequia img,
    video {
        width: 65%;
        height: 300px;
        margin-bottom: 20px;
        align-self: center;
    }
}

@media (max-width: 1070px) {
    #sales,
    .banner2,
    .banner3,
    .banner4,
    #topButton {
        display: none;
    }
}

@media (max-width: 650px) {
    /* Hago aparecer el segundo buscador como comenté antes y hago desaparecer el input que había hasta el momento */
    #browser {
        display: none;
    }
    #browser2 {
        display: flex;
    }
    #fondologo {
        width: 80px;
    }
    #signin,
    #location {
        margin: unset;
    }
    header img {
        padding-left: 8%;
    }
    #sequia img,
    video {
        width: 100%;
    }
}

@media (max-width: 520px) {
    header img {
        padding-left: 6%;
    }
    /* Coloco el menú en disposición de columnas */
    #menu {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
    .opc {
        width: 50%;
        align-self: center;
    }
    nav img,
    #parr1,
    nav ul li {
        display: none;
    }
    #sales {
        height: 300px;
        width: 90%;
    }
    #productsmain h1 {
        font-size: 2em;
    }
}


/* Elementos relacionados con animaciones */

.fade {
    opacity: 0;
}

.dropdown {
    display: none;
    position: fixed;
    z-index: 9;
    background-color: black;
    font-size: 1.1em;
    margin-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 1.9;
}

nav ul li a {
    color: white;
}


/* Animación del carrusel */

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* El banner 2, 3 y 4 empiezan con la opacidad a 0 para que no se vean */

.banner2,
.banner3,
.banner4 {
    align-self: center;
    opacity: 0;
}


/* La animación de cada uno de los banners es la de aparecer y desaparecer cambiando su opacidad de 0 a 1 y de 1 a 0, respectivamente 
La position absolute es usada para que todos los banners estén uno encima del otro en la misma posición exacta
El z-index nos sirve para indicar el orden en el que están colocados los banners uno encima del otro
Uso la propiedad animation-fill-mode para que los cambios en los estilos se conserven al finalizar la animación */

.banner1 {
    position: absolute;
    z-index: 3;
    animation-name: fadeout;
    animation-duration: 5s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
}

.banner2 {
    position: absolute;
    z-index: 2;
    animation-name: fadein, fadeout;
    animation-duration: 5s, 5s;
    animation-delay: 13s, 22s;
    animation-fill-mode: forwards, forwards;
}

.banner3 {
    position: absolute;
    z-index: 1;
    animation-name: fadein, fadeout;
    animation-duration: 5s, 5s;
    animation-delay: 24s, 33s;
    animation-fill-mode: forwards;
}

.banner4 {
    animation-name: fadein;
    animation-duration: 5s;
    animation-delay: 35s;
    animation-fill-mode: forwards;
}